<div class="post-scroll-marker">
     <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start" layout="nodisplay">
     </amp-position-observer>
</div>
<button class="post-scroll" on="tap:top.scrollTo(duration=200)" >&#8593;</button>

<footer class="bottom">{{{@config.custom.copyrightText}}}</footer>
{{> menu menus.mainMenu}}

{{#if @amp.GAID}}
<amp-analytics type="googleanalytics" id="analytics1">
    <script type="application/json">
        {
            "vars": {
                "account": "{{@amp.GAID}}"
            },
            "triggers": {
                "trackPageview": {
                    "on": "visible",
                    "request": "pageview"
                }
            }
        }
    </script>
</amp-analytics>
{{/if}}

{{{@footerCustomCode}}}
{{{ publiiFooter }}}
</body>
</html>
